table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}

td {
    text-align: center;
}

ul {
    text-align: left;
}

.row__brand {
    background-color: blue;
    color: white;
}

.cell__model {
    background-color: red;
}